.special {
    background: lightgreen;
}

.content-section {
    background: lightblue;
}

.about-image {
    display: block;
    height: auto;
    max-width: 100%;
    width: 800px;
    margin: 16px auto 0;
}