body {
    font-family: Arial, sans-serif;
    margin-left: 10px;
    background: #f4f4f4;
}

header {
    background: white;
    padding: 10px;
}

nav {
    background: springgreen;
    padding: 10px;
}

nav a {
    color: blue;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: underline;
}

section {
    background: white;
    margin-top: 20px;
    padding: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: green;
    border-radius: 20px;
}

footer {
    background: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
}