<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Physics Factory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>Physics Factory</h1>
    </header>

    <nav>
        <a href="#about">About</a>
        <a href="#lecture_notes">Lecture Notes</a>
        <a href="#problem_sets">Problem Sets</a>
        <a href="#useful_links">Useful Links</a>
        <a href="#projects">Projects</a>
    </nav>

    <main>
        <section id="about">
            <h1>About</h1>
            <p>
                Welcome to my website.
            </p>
        </section>

        <section id="lecture_notes">
            <h1>Lecture Notes</h1>
            <p>
                Contains lecture notes and handouts on various topics.
            </p>
        </section>

        <section id="problem_sets">
            <h1>Problem Sets</h1>
            <p>
                Contains olympiad-style problem sets.
            </p>
        </section>

        <section id="useful_links">
            <h1>Useful Links</h1>
            <p>
                Contains links that are useful.
            </p>
        </section>

        <section id="projects">
            <h1>Projects</h1>
            <p>
                Contains various projects that are being worked on.
            </p>
        </section>
    </main>


    <footer>
        <p>© BigChunguz24</p>
    </footer>

</body>
</html>