<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Physics Factory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='classes.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='text.css') }}">

</head>

<body>

    <header>
        <h1>Physics Factory</h1>
    </header>

    <nav>
        <a href="#about">About</a>
        <a href="#lecture_notes">Lecture Notes</a>
        <a href="#problem_sets">Problem Sets</a>
        <a href="#useful_links">Useful Links</a>
        <a href="#projects">Projects</a>
    </nav>

    <main>
        <section id="about">
            <h2>About</h2>
            <p>
                Welcome to my website.
            </p>
            <img class="about-image" src="{{ url_for('static', filename='pictures/electrostatic_cat.jpg') }}"
                                     alt="An electrostatic cat">
        </section>

        <section id="lecture_notes" class="content-section">
            <h2>Lecture Notes</h2>
            <p>
                Contains lecture notes and handouts on various topics.
            </p>
        </section>

        <section id="problem_sets" class="content-section">
            <h2>Problem Sets</h2>

            <p>
                Junior Olympiads:
            </p>
            <ul>
                {% for problem_set in problem_sets_junior %}
                    <li>
                        <a href="{{ url_for('static', filename='problem_sets_junior/' + problem_set.file) }}">
                            {{ problem_set.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <p>
                Senior Olympiads:
            </p>
            <ul>
                {% for problem_set in problem_sets_senior %}
                <li>
                    <a href="{{ url_for('static', filename='problem_sets_senior/' + problem_set.file) }}">
                        {{ problem_set.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section id="useful_links">
            <h2>Useful Links</h2>
            <p>
                Contains links that are useful.
            </p>
        </section>

        <section id="projects" class="special">
            <h2>Projects</h2>
            <p>
                Contains various projects that are being worked on.
            </p>

            <h3>Planet Trajectory - Euler Method</h3>
            <p>
                Numerical simulation of a planetary trajectory using Euler's method.
            </p>
            <a href="{{ url_for('planet_trajectory') }}">
                Open simulation
            </a>
        </section>
    </main>


    <footer>
        <p>© BigChunguz24</p>
    </footer>

</body>
</html>
